a {
  text-decoration: none;
}
ul {
  // list-style: none;
  padding-left: 0;
}

html {
  box-sizing: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #858585;
  font-size: 11px;
  line-height: 20px;
  font-weight: 400;
}

.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1314px) {
    width: 1314px;
  }
}
// html {
//   box-sizing: border-box;
// }
// body {
//   margin: 0;
//   font-family: Montserrat, sans-serif;
//   letter-spacing: 0.08em;
//   color: $primary-text-color;
//   background-color: $primary-white-color;
// }
// *,
// *::before,
// *::after {
//   box-sizing: inherit;
// }
// img {
//   display: block;
//   max-width: 100%;
//   height: auto;
// }
// .list {
//   padding: 0;
//   margin: 0;
//   list-style: none;
// }
// .link {
//   text-decoration: none;
// }
// .section {
//   padding: 50px 0;
//   @include for-size(desktop) {
//     padding: 130px 0;
//   }
// }
// .container {
//   margin-left: auto;
//   margin-right: auto;
//   width: 100%;
//   padding-left: 20px;
//   padding-right: 20px;
//   @include for-size(tablet-landscape) {
//     width: 768px;
//     padding-left: 40px;
//     padding-right: 40px;
//   }
//   @include for-size(desktop) {
//     width: 1354px;
//     padding-left: 20px;
//     padding-right: 20px;
//   }
// }
// __________________________________
// @mixin for-size($range) {
//   $mobile: 320px;
//   $tablet: 768px;
//   $desktop: 1354px;
// _____________________________
// @media screen and (max-width: 767px) {
// }
// @media screen and (min-width: 768px) and (max-width: 1353) {
//  }
